# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  workflow_dispatch:
    inputs:
      bv_ids:
        description: '请填写BV号，多个用英文逗号分开'
        required: true
        default: 'BV1nhySBHHEvz,BV1Ny8BqEx3'
      bv_type:
        description: '请填写类型，1表示视频评论，11表示图文动态评论，17表示转发、文字动态评论'
        required: true
        default: '1'

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Run Python
      run: |
        {% for bv_id in github.event.inputs.bv_ids.split(',') %}
        echo "=== 处理第 {{ loop.index }} 个视频 ==="
        echo "BV号: {{ bv_id.trim() }}"
        python simple_bili_crawler.py "{{ bv_id.trim() }}" "{{ github.event.inputs.bv_type.trim() }}"
        {% if not loop.last %}
        echo "等待2分钟...
        sleep 120
        {% endif %}
        {% endfor %}
    - name: List generated files (debug step)
      run: |
        echo "Preparing docker images list (.tar.gz) files:"
        ls -la comments/
        release_name="$(TZ="Asia/Shanghai" date +'%Y-%m-%d %H:%M Build')"
        echo "RELEASE_NAME=$release_name" >> $GITHUB_ENV

    - name: Create GitHub Release
      uses: softprops/action-gh-release@master
      with:
        tag_name: Comments
        name: ${{ env.RELEASE_NAME }}
        body: |
          ### Video List
          | No. | Bilibili Video |
          |-----|----------------|
          {% for bv_id in github.event.inputs.bv_ids.split(',') %}
          | {{ loop.index }} | [BV号: {{ bv_id }}](https://www.bilibili.com/video/{{ bv_id }}) |
          {% endfor %}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload comments files as release assets
      uses: softprops/action-gh-release@v2.1.0
      with:
        tag_name: Comments
        files: ${{ github.workspace }}/comments/*.csv
        token: ${{ secrets.GITHUB_TOKEN }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
